h1{
    position: relative; 
    left: 725px;
    top:90px
}


body{
    background-color: #f9f9f9;
    width: 800px;
}


.box{
    position: absolute;
    background-color: #ffffff;
    height: 230px;
    width: 290px;
    padding: 30px;
    border-radius: 8px;
    left:600px;
    top:180px


}

.input-size{
    width: 280px;
    height: 25px;
    border: #ece9e9 solid 1px;
    border-radius: 5px;
    margin-top: 9px;
    background-color: #fafafa;

}
.field{
    margin-bottom: 25px;
}

label{
    margin-bottom: 9px;
}


span{
    position: relative;
    left:107px;  
}

.forgot{
    background-color: #ffffff;
    border: 0px ;
    color: #007aff;
 
}

.login{
    background-color: #007aff;
    margin-top: 28px;
    border: #007bff solid 1px;
    border-radius: 6px;
    width: 280px;
    height: 30px;
    color: white;
    font-weight: bold;
    
}
.new-account label{
    position: relative;
    top:20px;
    left: 7px;
    
}
.new-account span{
    position: relative;
    top:20px;
    left: 0;
    left:3px
}